
* {
	margin: 0;
    font-family: 'Palanquin Dark', sans-serif;
}


/** HEADER **/


.navbar-brand { 
  color: #000000;
  font-size: 3vw;
  text-decoration: none;
  font-weight: bold;
  margin-bottom: 25px;
  line-height: 0.5;
  padding: 25px;

}

#Food {
	font-size: 7vw;
}

#our_restaurant_header{
	text-align: center;
}

#chicken {
	border:1px #000000;
	text-align: center;
}

.section_header_chicken {
  position: relative;
  background-color: #33ccff;
  border: 1px solid #000000;
  box-sizing: border-box;
  min-height: 200px;
  min-width: 300px;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 15px;
  padding: 15px;
  overflow: hidden;
}

#open_menu{
	background-color: #ff99ff;
	border-radius: 0;
	padding:0;
} 